@model IEnumerable<MVCFoodPortal.Models.Food>

@{
    ViewBag.Title = "Search";
}

@if (Model == null)
{
    <label>No results found</label>
}

else
{
    using (Html.BeginForm(FormMethod.Get))
    {
        foreach (var item in Model)
        {
            <div class="card m-2" style="width:18rem">
                <div class="card-header">@item.OrderName</div>

                <img src="~/Images/@item.Image" class="card-img-top" width="250" height="200" />
                <div class="m-3">
                    <p class="float-left">
                        @string.Format("{0:C}", item.Price)
                    </p>
                    <br />
                    @Html.ActionLink("Place Order", "PlaceOrder", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    }
}
